/* ШРИФТЫ===============================================================================================================*/

/*ШРИФТ ПО УМОЛЧАНИЮ======================================================================================================*/
$font-family: 'Montserrat', sans-serif;

/*ПЕРЕМЕННЫЕ==============================================================================================================*/
$minWidth: 320px;
$maxWidth: 1920px; //общая ширина макета
$maxWidthContainer: 1230px; //увеличиваем величину из макета с учетом паддингов
$md1: 1242px; //$maxWidthContainer + 12px
$md2: 991.98px;
$md3: 767.98px;
$md4: 479.98px;
/*ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ==============================================================================================*/
@import "null";

body {
	font-family: $font-family;
	font-size: 50px;
	font-weight: 400;
	color: #fff;
	@media (max-width: 600px){
		font-size: 35px;
	};
	@media (max-width: $md4){
		font-size: 21px;
	};
}

/*ОБОЛОЧКА===============================================================================================================*/

.wrapper {
	min-width: 100%;
	background: linear-gradient(45deg, #09f143, #d05e00);
}


/*ОСНОВНАЯ СЕТКА====================================================================================*/

._container {
	max-width: $maxWidthContainer;
	margin: 0 auto;
	padding: 0px 25px;
 }
 
/*MAIN===============================================================*/
.page {

	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;

	// .page__time

	&__time {
		text-align: center;
		background-color: #52555342;
		padding: 20px;
	}
}






